<footer class="mt-5 border-top">
	<div class="container">
		<div class="row py-5">

			<div class="col-lg-5 col-12 offset-lg-1">
				<h3 class="mb-3">Neuron Studio</h3>
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
				<div class="footer-copyright">
					<p>Copyright &copy; 2017 Your Company - Design: Tooplate</p>
				</div>
			</div>

			<div class="col-lg-5 col-12 offset-lg-1">
				<h3 class="mb-3">Talk to us</h3>
				<p>
					<i class="fa fa-globe me-2"></i>
					512 Delicious Street, San Francisco, CA 10880</p>
				<p>
					<i class="fa fa-phone me-2"></i>
					010-020-0990</p>
				<p>
					<i class="fa fa-save me-2"></i>
					info@company.com</p>
			</div>

			<div class="clearfix col-12">
				<hr>
			</div>

			<div class="col-12 d-flex justify-content-center">
				<ul class="social-icon d-flex list-unstyled">
					<li>
						<a href="#" title="facebook">
							<i class="fa-brands fa-facebook-square"></i>
						</a>
					</li>
					<li>
						<a href="#" title="twitter">
							<i class="fa-brands fa-twitter"></i>
						</a>
					</li>
					<li>
						<a href="#" title="google+">
							<i class="fa-brands fa-google-plus-g"></i>
						</a>
					</li>
					<li>
						<a href="#" title="dribbble">
							<i class="fa-brands fa-dribbble"></i>
						</a>
					</li>
					<li>
						<a href="#" title="linkedin">
							<i class="fa-brands fa-linkedin-in"></i>
						</a>
					</li>
				</ul>

			</div>

			<div
				class="col-12 d-flex mt-lg-0 mt-5">
				<!-- Back top -->
				<a href="#" class="back_top ms-auto rounded-circle d-flex justify-content-center align-items-center" title="haut de page">
					<i class="fa-solid fa-angle-up p-3"></i>
				</a>
			</div>

		</div>
	</div>
</footer>

<!-- Back top -->
{# <a href="#back-top" class="go-top bg-white text-dark p-5">
	<i class="fa-solid fa-angle-up"></i>
</a> #}
